@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --muted-grey: #cccccc;
  --light-grey: #8b8b8b;
  --offWhite: #f9f9f9;
  --charcoal: #262626;
  --offBlack: #0c0c0c;

  --card: #ffffff;
  --card-foreground: #1f1f1f;
  --popover: #ffffff;
  --popover-foreground: #1f1f1f;

  --primary: #030213;
  --primary-foreground: #ffffff;

  --secondary: #f1f1f4;
  --secondary-foreground: #030213;

  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border: #0000001a;
  --input: transparent;
  --input-background: #f3f3f5;

  --switch-background: #cbced4;

  --ring: #b3b3b3;

  --chart-1: #f97316;
  --chart-2: #14b8a6;
  --chart-3: #1e3a8a;
  --chart-4: #eab308;
  --chart-5: #f59e0b;

  --radius: 0.625rem;

  --sidebar: #fafafa;
  --sidebar-foreground: #1f1f1f;

  --sidebar-primary: #030213;
  --sidebar-primary-foreground: #fafafa;

  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #2a2a2a;

  --sidebar-border: #e5e5e5;
  --sidebar-ring: #b3b3b3;

  --input-background: #f3f3f5;
}

.dark {
  --background: #101828;
  --foreground: #ffffff;

  --offWhite: #1a1a1a;
  --charcoal: #f9f9f9;

  --input-background: #f3f3f5;

  --card: #1f1f1f;
  --card-foreground: #fafafa;

  --popover: #1f1f1f;
  --popover-foreground: #fafafa;

  --primary: #fafafa;
  --primary-foreground: #2a2a2a;

  --secondary: #3f3f3f;
  --secondary-foreground: #fafafa;

  --muted: #3f3f3f;
  --muted-foreground: #b3b3b3;

  --accent: #3f3f3f;
  --accent-foreground: #fafafa;

  --destructive: #b91c1c;
  --destructive-foreground: #ef4444;

  --border: #3f3f3f;
  --input: #3f3f3f;

  --ring: #6e6e6e;

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --chart-1: #7c3aed;
  --chart-2: #10b981;
  --chart-3: #f59e0b;
  --chart-4: #d946ef;
  --chart-5: #f97316;

  --sidebar: #2a2a2a;
  --sidebar-foreground: #fafafa;

  --sidebar-primary: #7c3aed;
  --sidebar-primary-foreground: #fafafa;

  --sidebar-accent: #3f3f3f;
  --sidebar-accent-foreground: #fafafa;

  --sidebar-border: #3f3f3f;
  --sidebar-ring: #6e6e6e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted-grey: var(--muted-grey);
  --color-light-grey: var(--light-grey);
  --color-off-white: var(--offWhite);
  --color-charcoal: var(--charcoal);
  --color-off-black: var(--offBlack);

  --color-input-background: var(--input-background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  body {
    font-family: "Poppins", "OCR A Std", monospace, Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
    @apply bg-background text-foreground;
  }

  body,
  textarea {
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-3 transition-colors duration-300;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-light-grey rounded-[40px] bg-clip-padding;
    border: 4px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-grey;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar {
    @apply w-3;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .modal-img-strip::-webkit-scrollbar {
    @apply h-2.5;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    @apply cursor-pointer;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

  a {
    @apply underline hover:opacity-70;
  }

  /* Background */
  .surface {
    @apply bg-white dark:bg-gray-800;
  }

  /* Text */
  .text-default {
    @apply text-gray-900 dark:text-white;
  }

  .text-cancel {
    @apply text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white;
  }

  label.job-form-label,
  span.job-form-label {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-job-value {
    @apply text-sm py-2 text-gray-900 dark:text-white;
  }

  /* Modal */
  .job-modal-section-header {
    @apply text-gray-900 dark:text-white pb-2 mb-4 border-b border-gray-200 dark:border-gray-700  flex items-center justify-between;
  }

  .job-modal-section-header > h3 {
    @apply text-lg font-bold;
  }

  /* Button */
  .btn-primary {
    @apply flex items-center gap-2 px-6 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700 font-semibold shadow-md transition-all;
  }

  .btn-success {
    @apply flex items-center gap-2 px-6 py-2 bg-green-600 text-white rounded-xl hover:bg-green-700 font-semibold shadow-md transition-all;
  }

  .auth-card {
    @apply md:bg-white md:dark:bg-gray-800 rounded-2xl md:shadow-xl p-8 w-full md:max-w-md;
  }
}
