NODE_ENV=production
DOMAIN=.jpdeocampo.com
ORIGIN=career-sync.jpdeocampo.com

EMAIL_USER=email-for-email-provider
EMAIL_PASS=pass-for-email-provider

DATABASE_URL=session-pooler-supabase
SHADOW_DATABASE_URL=transation-pooler-supabase

JWT_ACCESS_SECRET=random-string
JWT_REFRESH_SECRET=random-string
PEPPER=random-string

